# Software Test report  



## Menu Button interface testing

*To Ensure the button are working*

*(Date Conducted: 30/7/2022 Software Version 1.1)*

*Performed on device: HP & Razer*

*Performed on OS: Windows 10, Windows 11*

*Performed on source-code editor: VSC, Spyders*

*Error or Bugs: None*

*Remarks: Code works as intended.*


## Sudoku Solver testing

*(Date Conducted: 30/7/2022 Software Version 1.1)*

*Performed on device: HP, Razer*

*Performed on OS: Windows 10, Windows 11*

*Performed on source-code editor: VSC, Spyders*

*Error or Bugs: None*

*Time taken to solve easy difficulty:Approximately 1 minutes*

*Time taken to solve Medium difficulty:Approximately 3 minutes*

*Time taken to solve Hard difficulty:Approximately 15 minutes*


## Automatic Testing:
*Describe any JUnit tests you created. Describe what percentage of program functionality is covered by JUnit tests.*

*Highlight any functionality not covered by JUnit tests, and say how you overcame that shortfall.*

*Describe if you managed to use the continuous integration server to run tests - which tests were run, and what were the results?* 